@import './styles/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  
  * {
    -webkit-tap-highlight-color: transparent;
  }
  
  button, a {
    touch-action: manipulation;
  }
}

